<h1>Book with id = <%= @book.id %></h1>
<table>
    <tr><td>Title:</td><td><%= @book.title %></td></tr>
    <tr><td>Author:</td><td><%= @book.author %></td></tr>
    <tr><td>Rating:</td><td><%= @book.rating %></td></tr>
    
      <tbody>
    
   
       
  </tbody>
    
    
</table>

   <p><td><%= link_to "Home", root_path %></td></p>
   <p><td><%= link_to "List of books", books_path %></td></p>
   <p><td><%= link_to "Edit this book", edit_book_path %></td></p>
   <p><td><%= link_to "Delete Book", confirm_delete_book_path %></td></p>